includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 5

    scanFiles:
        - _ide_helper_models.php

    ignoreErrors:
        - '#Relation .users. is not found in App\\Models\\Node model#'
